body{
    font-size:12px;
    font-family: helvetics;
}
a{
    color: #777;
    text-decoration: underline;
}
.heading{
    padding: 30px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#message{
    color: red;
}
